/* line 5, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/main.scss */
.dw {
  width: 1180px;
  height: 526px;
  padding-top: 20px;
  padding-left: 33px;
  background-color: #fff;
}
/* line 12, ../sass/main.scss */
.dw .witr {
  width: 100%;
  height: 34px;
  line-height: 34px;
  margin-bottom: 11px;
}
/* line 19, ../sass/main.scss */
.dw .ritit {
  color: #ff0000;
  font-size: 19px;
  margin-right: 20px;
  letter-spacing: 1px;
}
/* line 26, ../sass/main.scss */
.dw .r_a {
  height: 19px;
  margin-bottom: 25px;
}
/* line 31, ../sass/main.scss */
.dw .gr_c {
  color: #a49c9c;
}
/* line 35, ../sass/main.scss */
.dw .not {
  color: #000;
  font-size: 13px;
  line-height: 19px;
}
/* line 41, ../sass/main.scss */
.dw .red {
  color: #ff0000;
}
/* line 45, ../sass/main.scss */
.dw .nts {
  font-size: 15px;
  line-height: 34px;
  width: 91px;
  text-align: right;
}
/* line 52, ../sass/main.scss */
.dw .select {
  width: 230px;
  height: 100%;
  border: 1px solid #cccccc;
  margin-left: 16px;
  font-size: 16px;
  text-align: center;
  background: none;
  margin-right: 14px;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
}
/* line 64, ../sass/main.scss */
.dw .no_a {
  color: #909090;
  font-size: 13px;
  letter-spacing: 0.8px;
}
/* line 70, ../sass/main.scss */
.dw .ml {
  margin-left: 55px;
}
/* line 74, ../sass/main.scss */
.dw .bo_box {
  height: 34px;
  border: 1px solid #cccccc;
  line-height: 34px;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
}
/* line 81, ../sass/main.scss */
.dw .in_a {
  width: 230px;
  margin-left: 11px;
}
/* line 86, ../sass/main.scss */
.dw .in_b {
  width: 737px;
  margin-right: 21px;
  margin-left: 8px;
}
/* line 92, ../sass/main.scss */
.dw .in_c {
  margin-left: 10px;
  width: 423px;
  height: 34px;
  margin-bottom: 7px;
}
/* line 99, ../sass/main.scss */
.dw .h {
  height: 201px;
}
/* line 103, ../sass/main.scss */
.dw .h_e {
  height: 80px;
}
/* line 107, ../sass/main.scss */
.dw .tx {
  margin-right: 6px;
  padding-top: 34px;
  line-height: 15px;
}
/* line 113, ../sass/main.scss */
.dw .ts {
  width: 739px;
  height: 201px;
}
/* line 118, ../sass/main.scss */
.dw .n_teq {
  margin-left: 19px;
  margin-top: 30px;
  line-height: 20px;
}
/* line 124, ../sass/main.scss */
.dw .right {
  padding-top: 16px;
  padding-left: 28px;
  color: #ff0000;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
}
/* line 133, ../sass/main.scss */
.dw .send {
  width: 72px;
  height: 31px;
  color: #fff;
  font-size: 15px;
  line-height: 31px;
  letter-spacing: 0.8px;
  text-align: center;
  margin-left: 300px;
  margin-top: 39px;
  margin-right: 25px;
  background-color: #5eb55b;
  border: 1px solid #3fa23b;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
}
/* line 148, ../sass/main.scss */
.dw .send:hover {
  background-color: #3a9637;
  border: 1px solid #2e734a;
}
/* line 154, ../sass/main.scss */
.dw .rebd {
  background-color: #fff;
  color: #000;
  margin-left: 0px;
  margin-top: 39px;
  margin-right: 0px;
  border: 0px;
}
/* line 162, ../sass/main.scss */
.dw .rebd:hover {
  color: #f80007;
  background-color: #fff;
  border: 0px;
}

/* line 204, ../sass/main.scss */
.pink {
  width: 367px;
  height: 169px;
}

/* line 210, ../sass/main.scss */
.p_te {
  width: 108px;
  height: 31px;
  padding: 4px;
  padding-bottom: 2px;
  background-color: #ffe1e1;
}

/* line 218, ../sass/main.scss */
.p_wit {
  /*width: 100px;*/
  font-size: 19px;
  letter-spacing: 2px;
  text-align: center;
  padding: 7px;
  padding-bottom: 4px;
  padding-top: 2px;
  background-color: #fff;
}

/* line 229, ../sass/main.scss */
.p_box {
  width: 100%;
  height: 136px;
  padding-top: 12px;
  padding-left: 11px;
  background-color: #ffefef;
}
/* line 236, ../sass/main.scss */
.p_box table {
  width: 347px;
  height: 116px;
  font-size: 13px;
}
/* line 241, ../sass/main.scss */
.p_box table button {
  width: 121px;
  height: 31px;
}
/* line 247, ../sass/main.scss */
.p_box td {
  padding-bottom: 14px;
}
/* line 251, ../sass/main.scss */
.p_box .graph {
  width: 138px;
  height: 14px;
  padding: 0.2px;
  padding-right: 0.8px;
  padding-left: 0.8px;
  background-color: #e5e0dd;
  -moz-box-shadow: #acabaa 0px -1px 2px;
  -webkit-box-shadow: #acabaa 0px -1px 2px;
  box-shadow: #acabaa 0px -1px 2px;
  -moz-border-radius: 7px / 7px;
  -webkit-border-radius: 7px 7px;
  border-radius: 7px / 7px;
}
/* line 261, ../sass/main.scss */
.p_box .graph .bar {
  display: block;
  height: 12px;
  color: #fff;
  text-align: right;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.8px;
  -moz-box-shadow: #a29e9a 1.5px 1.5px 2px;
  -webkit-box-shadow: #a29e9a 1.5px 1.5px 2px;
  box-shadow: #a29e9a 1.5px 1.5px 2px;
  -moz-border-radius: 7px / 7px;
  -webkit-border-radius: 7px 7px;
  border-radius: 7px / 7px;
}
/* line 275, ../sass/main.scss */
.p_box .graph .bara {
  background: url(../../../images/bara.png);
  background-repeat: repeat-x;
  background-size: contain;
  width: 100%;
}
/* line 282, ../sass/main.scss */
.p_box .graph .barb {
  background: url(../../../images/bar_17.png);
  background-repeat: repeat-x;
  background-size: contain;
  width: 80%;
}
/* line 289, ../sass/main.scss */
.p_box .graph .barc {
  background: url(../../../images/bar_20.png);
  background-repeat: repeat-x;
  background-size: contain;
  width: 50%;
}
/* line 296, ../sass/main.scss */
.p_box .graph .bard {
  background: url(../../../images/bar_22.png);
  background-repeat: repeat-x;
  background-size: contain;
  color: #000;
  letter-spacing: 0px;
  width: 40%;
}
/* line 305, ../sass/main.scss */
.p_box .graph .p_a {
  padding-right: 5px;
}
/* line 310, ../sass/main.scss */
.p_box .but_a {
  padding-bottom: 0px;
  padding-top: 68px;
  color: #7e7e7e;
  font-size: 12px;
  text-align: center;
}

/* line 321, ../sass/main.scss */
.pi_co {
  background-color: #f8ccff;
}

/* line 326, ../sass/main.scss */
.bu_co {
  background-color: #113ac0;
}

/* line 332, ../sass/main.scss */
.pi_box {
  width: 100%;
  height: 136px;
  background-color: #f8ccff;
}
/* line 337, ../sass/main.scss */
.pi_box .im_f {
  width: 100%;
  padding-top: 6px;
  padding-left: 2px;
  padding-right: 1px;
  height: 96px;
}
/* line 345, ../sass/main.scss */
.pi_box .pi_im {
  background-color: #000;
  width: 120px;
  height: 90px;
  margin-right: 1px;
}
/* line 352, ../sass/main.scss */
.pi_box .pi_te {
  margin-left: 45px;
  margin-top: 15px;
  font-size: 14px;
  letter-spacing: 2px;
  color: #000;
}
/* line 360, ../sass/main.scss */
.pi_box .ser {
  margin-right: 7px;
  margin-top: 3px;
  width: 121px;
  height: 31px;
}

/* line 372, ../sass/main.scss */
.bu_box {
  width: 100%;
  height: 136px;
  background-color: #113ac0;
}
/* line 377, ../sass/main.scss */
.bu_box .im_f {
  width: 100%;
  padding-top: 6px;
  padding-left: 2px;
  padding-right: 1px;
  height: 96px;
}
/* line 385, ../sass/main.scss */
.bu_box .pi_im {
  background-color: #000;
  width: 120px;
  height: 90px;
  margin-right: 1px;
}
/* line 392, ../sass/main.scss */
.bu_box .pi_te {
  margin-left: 45px;
  margin-top: 15px;
  font-size: 14px;
  letter-spacing: 2px;
  color: #fff;
}
/* line 400, ../sass/main.scss */
.bu_box .ser {
  margin-right: 7px;
  margin-top: 3px;
  width: 121px;
  height: 31px;
}

/* line 411, ../sass/main.scss */
.p_te_a {
  width: 170px;
  height: 31px;
  padding: 4px;
  padding-bottom: 2px;
  background-color: #ffc842;
}

/* line 419, ../sass/main.scss */
.ye_box {
  width: 100%;
  height: 136px;
  padding-top: 6px;
  padding-left: 8px;
  background-color: #ffc842;
}
/* line 426, ../sass/main.scss */
.ye_box .iy_f {
  width: 158px;
  height: 119px;
  margin-right: 8px;
  background-color: #000;
}
/* line 433, ../sass/main.scss */
.ye_box table {
  font-size: 14px;
  height: 84px;
  letter-spacing: 1px;
}
/* line 439, ../sass/main.scss */
.ye_box .ser {
  margin-right: 12px;
  margin-top: 9px;
  width: 121px;
  height: 31px;
}
